@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Regular.woff2') format('woff2');
	font-display: swap;
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Bold.woff2') format('woff2');
	font-display: swap;
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Black.woff2') format('woff2');
	font-display: swap;
	font-style: normal;
	font-weight: 900;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Regular.woff2') format('woff2');
	font-display: swap;
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'OpenSansLight';
	src: url('../fonts/OpenSans-Light.woff2') format('woff2');
	font-display: swap;
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'OpenSansLightItalic';
	src: url('../fonts/OpenSans-LightItalic.woff2') format('woff2');
	font-display: swap;
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Bold.woff2') format('woff2');
	font-display: swap;
	font-style: normal;
	font-weight: 700;
}
